# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d

# CocoaPods / SPM
Pods/
.build/
.swiftpm/

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE
.idea/
*.swp
*.swo
